*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-family: 'Poppins', sans-serif;
}

body{
<<<<<<< HEAD
    background: #f1f1f1;
=======
>>>>>>> MachinMax
    height: 100vh;
}

.container {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 660px;
    height: 300px;
<<<<<<< HEAD
    background: #f1f1f1;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0,5);
}

.container-onglets{
    background: #f1f1f1;
    width: 100%;
    height: 30%;
    display: flex;
    border-bottom: 1px solid #333;
=======
    border-radius: 2px;
}

.container-onglets{
    width: 100%;
    height: 30%;
    display: flex;
    color: black;
>>>>>>> MachinMax
}

.onglets{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    border: 0px;
<<<<<<< HEAD
=======
    background-color: white;
>>>>>>> MachinMax
}

.onglets button{
    border: 0px;
}

.contenu {
    height: 70%;
    width: 100%;
    position: absolute;
    display:none;
}

<<<<<<< HEAD
.contenu input{
    margin: 20px;
    display:block;
=======
.form {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 5vh;
}

.gauche {
    margin-right: auto;
}

.droite {
    margin-left: auto;
}

.form button {
    background: none;
    font-size: xxx-large;
    color: rgb(0, 62, 128);
    border: none;
    margin: 2rem 0 0;
    cursor: pointer;
}

.contenu input{
    border-radius: 3vh;
    border: solid;
    padding: 1vh;
    width: 70%;
>>>>>>> MachinMax
}

/* Animation */

.onglets.active{
<<<<<<< HEAD
    background: midnightblue;
    color: #f1f1f1;
=======
    color: rgb(215, 215, 61);
>>>>>>> MachinMax
    transition: all 0.2s ease;
}

.activeContenu{
    display:contents;
}

<<<<<<< HEAD
p {
=======
.contenu p {
>>>>>>> MachinMax
    display: contents;
}