*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f1f1f1;
    height: 100vh;
}

.container {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 660px;
    height: 300px;
    background: #f1f1f1;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0,5);
}

.container-onglets{
    background: #f1f1f1;
    width: 100%;
    height: 30%;
    display: flex;
    border-bottom: 1px solid #333;
}

.onglets{
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.onglets:not(:nth-child(2)){
    border-right: 1px solid #333;
}

.contenu {
    height: 70%;
    width: 100%;
    position: absolute;
}