body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

/* Home */

.homeBg {
  background-image: url("../public/img/home/home4.png");
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;

} 

.componentBg {
  background-image: url("../public/img/component/fondComponent.png");
  background-size:cover;
  background-repeat: no-repeat;
 /* height: 100vh;  Si besoin (taille de card) */
  /* width: 100%; */

} 

.pageError {
  height: 100vh;
  width: 100%;
}


/* Navbar */


.logoMarseille{
  margin-top: 20%;
}

.transport:hover, .hebergement:hover, .restaurant:hover, .sport:hover {
  letter-spacing: 6px; 
  transition: all 1s ease; 
}

#logo{
  position: absolute;
  left:0;
}


/* Footer */
.footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #707070;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.footer a {
  flex-basis: 30%;
  text-align: center;
  padding: 10px;
}

.footer img {
  height: 70px;
  object-fit: contain;
}

.smaller {
  height: 40px !important;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* media */
@media screen and (max-width: 1250px) {
  .home {
    background-image: url("../public/img/home/home3.png");
     background-size:cover;
     background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  
  } 
  
}
@media screen and (max-width: 430px) {
  .home {
    background-image: url("../public/img/home/home2.png");
     background-size:cover;
     background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  
  } 

  .logo {
    width:13rem;
  }
  
}