@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
    --bleu-nuit: #00004D;
    --or: #D7C378;
    --corail: #FF5757;
    --bleu-olympique: #0282C8;
    --jaune-olympique: #FABE34;
    --vert-olympique: #00A651;
    --rouge-olympique: #ED354F;
    --noir: #000000;
    --blanc: #FFFFFF;
}
*{
    font-family: 'Poppins', sans-serif;
}