/*****************
* App stylesheet *
*****************/

.app {
    position: relative;
}

.nav {
    width: 100vw;
    height: 80px;
    background-color: red;
}

.main {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
}

.list {
    height: calc(100vh - 80px);
    width: 30%;
    overflow: hidden;
    overflow-y: scroll;
}

