.container {
  padding: 0 2rem;
}

.footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 55vh;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.row {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #00A651;
  position: relative;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 33%;
  padding: 10px;
}

.column img {
  height: 70px;
  object-fit: contain;
}

.smaller {
  height: 40px !important;
}

.wave {
  position: absolute;
}

.footer__container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__container__logo {
  position: relative;
  width: 30%;
}

.footer__container__links {
  width: 50%;
  position: relative;
  z-index: 100;
  margin-top: 15px;
}

.footer__container__list {
  list-style: none;
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 25px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  @media screen and (min-width: 320px) and (max-width: 600px) {
    .footer {
      display: none;
    }

  }
}