
.img{
    width: 50%;
    position: relative;
margin-bottom: 9%;

}
/* .container5{
} */
.title{
  position: absolute;
    margin-left: 9%;
    margin-top: 12%;
    color: #00A651;
    font-weight:700;
    top: 0;
    left: 0;

}

