.container4{
    min-height: 90vh;
}

.image {
    width: 70%;

    padding-bottom: 29%;
}

.title{
    /* position: absolute; */
      /* margin-left: 1%; */
      margin-top: 4%;
      margin-bottom: 4%;
      color: #00A651;
      font-weight:700;
      /* top: 0;
      left: 0; */
  
  }
  .legend{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;
  }
  .legend1 {
    width: 100px;
    height: 100px;
    background: #00A651;
    color: white;
    padding: 10px;
    align-self: center;
    text-align: center;
    border-radius: 10px;
  }

  .legend2 {
    width: 100px;
    height: 100px;
    background: #FFC10F;
    color: white;
    padding: 10px;
    align-self: center;
    text-align: center;
    border-radius: 10px;

  }

  .btnBox:hover {

    background: rgb(247, 193, 15);
    transform: scale(1.1);
    transition: 0.5s;
  
  
  }

  .btnBox {
    color: white;
    text-decoration: none;
    border-radius: 113px;
    padding: 10px;
    margin-left: 40px;
    font-weight: 500;
    /* 
   
    margin-top: 20px; */
  background: rgb(247, 193, 15);
  }